name: Automerge

concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:


  Matrices:
    if: ${{ !(github.event_name != 'pull_request' && github.actor == 'dependabot[bot]') }}
    runs-on: ubuntu-latest
    outputs:
      debian: ${{ steps.generate.outputs.debian }}
      ubuntu: ${{ steps.generate.outputs.ubuntu }}
      fedora: ${{ steps.generate.outputs.fedora }}
      centos: ${{ steps.generate.outputs.centos }}
    steps:
      - uses: actions/checkout@v4
      - id: generate
        run: ./.github/scripts/generate_job_matrices.py '${{ github.repository }}'


  Debian:
    needs: Matrices
    uses: ./.github/workflows/sphinx-tuttest.yml
    with:
      matrix: ${{ needs.Matrices.outputs.debian }}

  Ubuntu:
    needs: Matrices
    uses: ./.github/workflows/sphinx-tuttest.yml
    with:
      matrix: ${{ needs.Matrices.outputs.ubuntu }}

  Fedora:
    needs: Matrices
    uses: ./.github/workflows/sphinx-tuttest.yml
    with:
      matrix: ${{ needs.Matrices.outputs.fedora }}

  Centos:
    needs: Matrices
    uses: ./.github/workflows/sphinx-tuttest.yml
    with:
      matrix: ${{ needs.Matrices.outputs.centos }}


  Automerge:
    needs:
      - Debian
      - Ubuntu
      - Fedora
      - Centos
    if: github.event_name == 'pull_request' && github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    name: Automerge dependabot PRs
    permissions:
      contents: write

    steps:

      - name: Auto-merge Dependabot PR
        run: GITHUB_TOKEN='${{ github.token }}' gh pr merge '${{ github.event.pull_request.html_url }}' --squash
