name: doc-test

on:
 push:
 pull_request:
 schedule:
  - cron: "0 0 * * *"

jobs:


  Matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}

    steps:

      - name: Setup repository
        uses: actions/checkout@v2

      - name: Generate examples matrix
        id: generate
        run: ./.github/scripts/generate_job_matrix.py '${{ github.repository }}'


  Test:
    needs: Matrix
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.Matrix.outputs.matrix) }}
    runs-on: ${{ matrix.runs-on }}
    name: ${{ matrix.fpga-fam }} | ${{ matrix.os }} ${{ matrix.os-version }} | ${{ matrix.example }}

    env:
      LANG: "en_US.UTF-8"
      DEBIAN_FRONTEND: "noninteractive"
      GHA_PREEMPTIBLE: "false"

    container: ${{matrix.os}}:${{matrix.os-version}}

    steps:
      - name: Install utils
        if: ${{matrix.os == 'ubuntu' || matrix.os == 'debian'}}
        run: apt -qqy update && apt -qqy install git wget locales && locale-gen $LANG

      - name: Install utils
        if: ${{matrix.os == 'centos' && matrix.os-version == '8'}}
        run: |
          sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-*
          sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-*

      - name: Install utils
        if: ${{matrix.os == 'centos'}}
        run: yum -y install git wget

      - name: Install utils
        if: ${{matrix.os == 'fedora'}}
        run: dnf install -y git wget

      - name: Setup repository
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install tuttest
        run: |
          wget https://github.com/antmicro/tuttest/releases/download/v0.2-beta/tuttest -O /usr/bin/tuttest
          chmod a+rx /usr/bin/tuttest

      - name: Install F4PGA toolchain
        run: bash .github/scripts/install-toolchain.sh ${{matrix.fpga-fam}} ${{matrix.os}}

      - name: Build examples
        run: bash .github/scripts/build-examples.sh ${{matrix.fpga-fam}} ${{matrix.example}}

      - uses: actions/upload-artifact@v2
        with:
          name: f4pga-examples-bitstreams
          path: |
            **/*.bit
            **/plot_*.svg
